[Unit]
Description=StellarAtlas production services
Documentation=https://github.com/Stellar-Atlas/StellarAtlas
RequiresMountsFor=/home/observe/stellarbeat-data/Observer
Wants=network-online.target stellaratlas-api.service stellaratlas-frontend-v4.service stellaratlas-frontend-legacy.service stellaratlas-network-scanner.service stellaratlas-scp-live-scanner.service stellaratlas-users.service stellaratlas-history-scanner@1.service stellaratlas-full-history-promotion.service
After=network-online.target
Conflicts=stellaratlas.service

[Install]
WantedBy=multi-user.target
